section.contrato_1 {
    font-family: "montserrat", sans-serif;
    background-image: url("https://soportepc.com.ar/images/banner.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    div {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 50%;
        align-items: flex-start;
        justify-content: center;
        margin-right: auto;
        margin-left: 240px;
        color: white;
        text-align: start;
        gap: 15px;

        p {
            padding: 10px;
            font-size: 20px;
            background-color: #000000dc;
            border-radius: 5px;
        }

        h1 {
            padding: 10px;
            font-size: 37px;
            color: $maincolor;
            background-color: #000000dc;
            border-radius: 5px;
        }

        a {
            background-color: $maincolor;
            text-decoration: none;
            color: white;
            padding: 15px;
            border-radius: 5px;
        }

        a:hover {
            color: black;
            transition: all 0.6s;
        }

    }

}

section.contrato_2 {
    font-family: "montserrat", sans-serif;
    padding-inline: 30px;
    
    div.container {
        display: grid;
        height: 500px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: auto;
        border: solid 1.5px $maincolor;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                color: $maincolor;
                padding-bottom: 10px;
                font-size: 30px;
            }

            p {
                text-align: center;
                min-width: 60px;
                max-width: 500px;
            }
        }
    }

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
}

section.contrato_3 {
    font-family: "montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    h2 {
        padding-top: 20px;
        font-weight: 500;
        font-size: 20px;
        color: $maincolor;
    }

    p {
        font-weight: 400;

        span {
            color: $maincolor;
            font-weight: 700;
        }
    }
}