div.nav1 {
    background-color: $maincolor;
    font-family: "montserrat", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 60px;


    div.navtop {
        display: flex;
        flex: 1;
        justify-content:space-between;
        padding-inline: 60px;
    }
}

div.nav2 {
    display: flex;
    font-family: "montserrat", sans-serif;
    justify-content: space-between;
    align-items: center;
    background-color: $backcolor1;
    color: white;
    padding-inline: 40px;
    padding-top: 40px;
    padding-bottom: 40px;

    ul {
        display: flex;
        flex: 1;
        justify-content: center;
        gap: 70px;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: white;
                font-size: 17px;
            }
        }
    }

    a:hover {
        color:$maincolor;
        transition: all 0.5s;
    }
}