@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

div.nav1 {
  background-color: #2f8cf0;
  font-family: "montserrat", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 15px;
  padding-left: 20px;
  margin-top: 90px;
}
div.nav1 img {
  height: 21px;
}
@media screen and (max-width: 800px) {
  div.nav1 {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  div.nav1 {
    display: none;
  }
}
div.nav1 div.navtop {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-inline: 60px;
}

@media screen and (min-width: 992px) {
  div.nav2 {
    font-family: "montserrat", sans-serif !important;
  }
  div.nav2 nav {
    background-color: #232222 !important;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  div.nav2 nav a.navbar-brand {
    display: flex;
    flex: 3;
    margin-left: 20px;
    font-size: 25px;
  }
  div.nav2 nav a.navbar-brand:hover {
    color: #2f8cf0;
    transition: all 1s;
  }
  div.nav2 nav div#navbarNav {
    display: flex;
    flex: 1;
    justify-content: space-around;
  }
  div.nav2 nav div#navbarNav a {
    font-size: 18px;
  }
  div.nav2 nav div#navbarNav a:hover {
    color: #2f8cf0;
    transition: all 0.2s;
  }
}
@media screen and (min-width: 501px) {
  div.nav2 nav {
    background-color: #232222 !important;
    height: 90px;
  }
  div.nav2 nav a {
    color: white;
  }
  div.nav2 nav a:hover {
    color: white;
  }
  div.nav2 nav .navbar-toggler-icon {
    background-image: url("https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff");
    background-size: 30px;
  }
  div.nav2 nav div#navbarNav {
    background-color: #232222 !important;
    border-radius: 5px;
  }
  div.nav2 nav div#navbarNav li {
    text-align: center;
  }
  div.nav2 nav div#navbarNav li a {
    color: white;
  }
}
@media screen and (max-width: 500px) {
  div.nav2 nav {
    background-color: #232222 !important;
    height: 90px;
  }
  div.nav2 nav a {
    color: white;
  }
  div.nav2 nav a:hover {
    color: white;
  }
  div.nav2 nav button {
    border: none;
  }
  div.nav2 nav button .navbar-toggler-icon {
    background-image: url("https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff");
    background-size: 30px;
  }
  div.nav2 nav .navbar-toggler,
div.nav2 nav .navbar-toggler:focus,
div.nav2 nav .navbar-toggler:active,
div.nav2 nav .navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
  div.nav2 nav div#navbarNav {
    background-color: #232222 !important;
    border-radius: 5px;
  }
  div.nav2 nav div#navbarNav li {
    text-align: center;
  }
  div.nav2 nav div#navbarNav li a {
    color: white;
  }
}

section.footer_1 {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: #232222;
  color: white;
  font-family: "montserrat", sans-serif;
  height: 170px;
  padding-inline: 3%;
}
@media screen and (max-width: 500px) {
  section.footer_1 {
    flex-direction: column;
    height: 350px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 13px;
  }
}
section.footer_1 h1 {
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
}
section.footer_1 p {
  padding-left: 3px;
  max-width: 90%;
  min-width: 90%;
}
section.footer_1 ul {
  font-weight: 300;
  padding-left: 3px;
}
section.footer_1 ul li {
  list-style: none;
  padding-bottom: 5px;
}
section.footer_1 ul li a {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 500px) {
  section.footer_1 ul.redes {
    display: flex;
    gap: 15px;
  }
}
section.footer_1 a:hover {
  color: #2f8cf0;
  transition: all 0.5s;
}

section.footer_2 {
  font-family: "montserrat", sans-serif;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #2f8cf0;
  color: white;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-inline: 5%;
}
@media screen and (max-width: 500px) {
  section.footer_2 {
    padding-top: 15px;
  }
}
section.footer_2 h1 {
  padding-right: 80px;
}
@media screen and (max-width: 500px) {
  section.footer_2 h1 {
    display: none;
  }
}
section.footer_2 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 500px) {
  section.footer_2 div {
    max-width: 350px;
  }
}
section.footer_2 div h2 {
  font-weight: 500;
  font-size: 18px;
  margin: auto;
  padding-bottom: 10px;
}
section.footer_2 div p {
  font-weight: 400;
  max-width: 700px;
}

section.footer_3 {
  background-color: #232222;
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

body {
  background-color: rgb(243, 243, 243);
}
@media screen and (max-width: 800px) {
  body {
    margin-top: 90px;
  }
}

hr {
  display: flex;
  margin: auto;
  width: 70%;
  color: black;
}

section.portada ul {
  font-family: "montserrat", sans-serif;
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  padding-right: 250px;
  padding-left: 250px;
}
@media screen and (max-width: 1440px) {
  section.portada ul {
    padding-left: 130px;
    padding-right: 130px;
  }
}
@media screen and (max-width: 800px) {
  section.portada ul {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 500px) {
  section.portada ul {
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 0;
    padding-left: 0;
  }
}
section.portada ul li {
  display: flex;
  border: solid 1px;
  list-style: none;
  height: 300px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  section.portada ul li {
    height: 120px;
  }
}
section.portada ul li a {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.405);
  height: 100%;
  width: 100%;
}
section.portada ul a:hover {
  background-color: initial;
  color: #2f8cf0;
  transition: all 0.6s;
}
section.portada ul li:nth-child(1) {
  background-image: url("https://img.freepik.com/foto-gratis/tecnico-reparacion-computadora-hardware-computadora-reparacion-actualizacion-tecnologia_1150-8861.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
section.portada ul li:nth-child(2) {
  background-image: url("https://thumbs.dreamstime.com/b/computer-macro-technician-engineer-service-electronic-hardware-repair-technology-maintenance-pc-man-186603043.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}
section.portada ul li:nth-child(3) {
  background-image: url("https://consorcio.modyocdn.com/uploads/aaa50175-2d27-432f-b293-73cb9caa2345/C1140x550/GettyImages-815174828.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
section.portada ul li:nth-child(4) {
  background-image: url("https://img.freepik.com/fotos-premium/hombre-empleado-telemercadeo-centro-llamadas-auriculares-escritorio-trabajador-o-consultor-mesa-computadora-hablando-cliente-revisando-informacion-o-consultando-al-cliente-soporte-tecnico_590464-87084.jpg?w=2000");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
section.portada ul li:hover:nth-child(1) {
  border-color: #2f8cf0;
}
section.portada ul li:hover:nth-child(2) {
  border-color: #2f8cf0;
}
section.portada ul li:hover:nth-child(3) {
  border-color: #2f8cf0;
}
section.portada ul li:hover:nth-child(4) {
  border-color: #2f8cf0;
}

section.index_1 {
  font-family: "montserrat", sans-serif;
  background-color: #2f8cf0;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 800px) {
  section.index_1 {
    background-color: white;
    height: 350px;
  }
}
@media screen and (max-width: 500px) {
  section.index_1 {
    background-color: white;
    height: 320px;
  }
}
section.index_1 div {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 70px;
  padding-bottom: 60px;
  width: 55%;
  border: solid 1px black;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
@media screen and (max-width: 800px) {
  section.index_1 div {
    width: 100%;
    gap: 0;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 500px) {
  section.index_1 div {
    width: 100%;
    gap: 0;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
section.index_1 div h1 {
  font-size: 30px;
}
@media screen and (max-width: 500px) {
  section.index_1 div h1 {
    font-size: 25px;
  }
}
section.index_1 div h2 {
  font-weight: 500;
  color: #2f8cf0;
}
@media screen and (max-width: 500px) {
  section.index_1 div h2 {
    font-size: 20px;
    width: 95%;
  }
}
section.index_1 div p {
  font-weight: 400;
}
section.index_1 div p span {
  color: #2f8cf0;
  font-weight: 700;
}
@media screen and (max-width: 500px) {
  section.index_1 div p {
    font-size: 15px;
    width: 95%;
  }
}
section.index_1 div a {
  background-color: #2f8cf0;
  margin-top: 15px;
  padding: 15px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
}
@media screen and (max-width: 500px) {
  section.index_1 div a {
    padding: 20px;
  }
}
section.index_1 a:hover {
  color: black;
  transition: all 0.5s;
}

section.index_2 {
  font-family: "montserrat", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
}
@media screen and (max-width: 500px) {
  section.index_2 {
    justify-content: center;
    width: 100%;
    height: 100px;
  }
}
section.index_2 div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  section.index_2 div {
    text-align: center;
  }
}
section.index_2 div h1 {
  font-size: 40px;
  color: #2f8cf0;
}
@media screen and (max-width: 500px) {
  section.index_2 div h1 {
    font-size: 20px;
    text-align: center;
  }
}
section.index_2 div p {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  section.index_2 div p {
    font-size: 13px;
  }
}

section.index_3 {
  font-family: "montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
  padding-bottom: 40px;
}
section.index_3 h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 35px;
}
@media screen and (max-width: 500px) {
  section.index_3 h1 {
    font-size: 20px;
    padding-inline: 20px;
  }
}
section.index_3 div.container {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  section.index_3 div.container {
    gap: 10px;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  section.index_3 div.container {
    flex-direction: column;
    gap: 10px;
  }
}
section.index_3 div.container div {
  border: solid 1px;
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 800px) {
  section.index_3 div.container div {
    width: 450px;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  section.index_3 div.container div {
    width: auto;
    min-width: 350px;
    height: 500px;
  }
}
section.index_3 div.container div h1 .bronce {
  color: #CD7F32;
}
section.index_3 div.container div h1 .plata {
  color: #C0C0C0;
}
section.index_3 div.container div h1 .oro {
  color: #D4AF37;
}
section.index_3 div.container div h2 {
  font-weight: 700;
}
section.index_3 div.container div h2 span {
  color: #2f8cf0;
}
section.index_3 div.container div ul li {
  padding-bottom: 5px;
  font-weight: 500;
}
@media screen and (max-width: 800px) {
  section.index_3 div.container div ul li {
    font-size: 18px;
  }
}
section.index_3 div.container div a {
  background-color: #2f8cf0;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 3px;
}
@media screen and (max-width: 500px) {
  section.index_3 div.container div a {
    padding: 20px;
  }
}
section.index_3 div.container a:hover {
  color: black;
  transition: all 0.6s;
}

section.index_4 {
  font-family: "montserrat", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  background-image: url("https://www.escuelamapa.edu.uy/wp-content/uploads/2016/06/REPARACIONPC.jpg");
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 500px) {
  section.index_4 {
    flex-direction: column;
    margin: auto;
    height: 800px;
  }
}
section.index_4 div.empresa {
  background-color: rgba(0, 0, 0, 0.6078431373);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
@media screen and (min-width: 1440px) {
  section.index_4 div.empresa {
    height: 400px;
    width: 800px;
  }
}
@media screen and (max-width: 1440px) {
  section.index_4 div.empresa {
    width: 600px;
    height: 400px;
  }
}
@media screen and (max-width: 800px) {
  section.index_4 div.empresa {
    height: 300px;
    width: 450px;
  }
}
@media screen and (max-width: 500px) {
  section.index_4 div.empresa {
    width: 100%;
    border-radius: 0;
  }
}
section.index_4 div.empresa h1 {
  padding-bottom: 10px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  section.index_4 div.empresa h1 {
    font-size: 20px;
    max-width: 95%;
  }
}
section.index_4 div.empresa h2 {
  font-size: 15px;
  font-weight: 500;
  color: #2f8cf0;
  padding-bottom: 10px;
}
section.index_4 div.empresa p {
  text-align: center;
}
@media screen and (max-width: 500px) {
  section.index_4 div.empresa p {
    max-width: 95%;
    font-size: 15px;
  }
}
section.index_4 div.empresa a {
  background-color: #2f8cf0;
  text-decoration: none;
  color: white;
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
}
@media screen and (max-width: 500px) {
  section.index_4 div.empresa a {
    padding: 15px;
  }
}
section.index_4 div.empresa a:hover {
  color: black;
  transition: all 0.6s;
}
section.index_4 div.forma {
  background-color: rgba(0, 0, 0, 0.6078431373);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
@media screen and (min-width: 1440px) {
  section.index_4 div.forma {
    height: 400px;
    width: 800px;
  }
}
@media screen and (max-width: 1440px) {
  section.index_4 div.forma {
    width: 600px;
    height: 400px;
  }
}
@media screen and (max-width: 800px) {
  section.index_4 div.forma {
    height: 400px;
    width: 450px;
  }
}
@media screen and (max-width: 500px) {
  section.index_4 div.forma {
    border-radius: 0px;
    width: 100%;
    height: 350px;
  }
}
section.index_4 div.forma h1 {
  padding-bottom: 10px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  section.index_4 div.forma h1 {
    font-size: 20px;
  }
}
section.index_4 div.forma p {
  text-align: center;
}
@media screen and (min-width: 1440px) {
  section.index_4 div.forma p {
    max-width: 95%;
  }
}
@media screen and (max-width: 1440px) {
  section.index_4 div.forma p {
    max-width: 95%;
  }
}
@media screen and (max-width: 800px) {
  section.index_4 div.forma p {
    max-width: 95%;
  }
}
@media screen and (max-width: 500px) {
  section.index_4 div.forma p {
    max-width: 95%;
    font-size: 15px;
  }
}
section.index_4 div.forma a {
  background-color: #2f8cf0;
  text-decoration: none;
  color: white;
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
}
@media screen and (max-width: 500px) {
  section.index_4 div.forma a {
    padding: 15px;
  }
}
section.index_4 div.forma a:hover {
  color: black;
  transition: all 0.6s;
}

section.contrato_1 {
  font-family: "montserrat", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.414) 100%, rgba(0, 0, 0, 0.298) 100%), url("https://soportepc.com.ar/images/banner.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 800px) {
  section.contrato_1 {
    height: 350px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  section.contrato_1 {
    height: 250px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
section.contrato_1 div {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 50%;
  align-items: flex-start;
  justify-content: center;
  margin-right: auto;
  margin-left: 240px;
  color: white;
  text-align: start;
  gap: 5px;
}
@media screen and (max-width: 800px) {
  section.contrato_1 div {
    flex: 1;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    gap: 0px;
    height: 250px;
  }
}
@media screen and (max-width: 500px) {
  section.contrato_1 div {
    flex: 1;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    height: 250px;
  }
}
section.contrato_1 div p {
  padding: 10px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.4156862745);
  border-radius: 10px;
}
@media screen and (max-width: 800px) {
  section.contrato_1 div p {
    color: #2f8cf0;
    padding: 3px;
  }
}
@media screen and (max-width: 500px) {
  section.contrato_1 div p {
    display: none;
  }
}
section.contrato_1 div h1 {
  padding: 10px;
  font-size: 37px;
  color: #2f8cf0;
  background-color: rgba(0, 0, 0, 0.4156862745);
  border-radius: 10px;
}
@media screen and (max-width: 800px) {
  section.contrato_1 div h1 {
    color: white;
    padding: 3px;
  }
}
@media screen and (max-width: 500px) {
  section.contrato_1 div h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.3254901961);
    border-radius: 10px;
    font-size: 30px;
    padding: 5px;
  }
}
section.contrato_1 div a {
  background-color: #2f8cf0;
  text-decoration: none;
  color: white;
  padding: 20px;
  border-radius: 5px;
}
@media screen and (max-width: 500px) {
  section.contrato_1 div a {
    padding: 20px;
  }
}
section.contrato_1 div a:hover {
  color: black;
  transition: all 0.6s;
}

section.contrato_2 {
  font-family: "montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  width: 100%;
}
section.contrato_2 h1 {
  text-align: center;
  margin: auto;
}
section.contrato_2 div.container {
  display: grid;
  height: 500px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: solid 1.5px #2f8cf0;
  gap: 20px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  section.contrato_2 div.container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 650px;
    width: 100%;
    gap: 5px;
    border: none;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  section.contrato_2 div.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 0;
    height: 900px;
    border: none;
    gap: 10px;
    width: 100%;
  }
}
section.contrato_2 div.container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 800px) {
  section.contrato_2 div.container div {
    width: 95%;
  }
}
@media screen and (max-width: 500px) {
  section.contrato_2 div.container div {
    width: 100%;
  }
}
section.contrato_2 div.container div h2 {
  color: #2f8cf0;
  padding-bottom: 10px;
  font-size: 30px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  section.contrato_2 div.container div h2 {
    font-size: 22px;
  }
}
section.contrato_2 div.container div p {
  text-align: center;
  min-width: 95%;
  max-width: 95%;
}
@media screen and (max-width: 800px) {
  section.contrato_2 div.container div p {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  section.contrato_2 div.container div p {
    min-width: 300px;
  }
}
section.contrato_2 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

section.contrato_3 {
  font-family: "montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.contrato_3 h1 {
  padding-top: 10px;
  padding-bottom: 10px;
}
section.contrato_3 h2 {
  padding-top: 20px;
  font-weight: 500;
  font-size: 20px;
  color: #2f8cf0;
}
section.contrato_3 p {
  font-weight: 400;
}
section.contrato_3 p span {
  color: #2f8cf0;
  font-weight: 700;
}

section.formateo_1 {
  font-family: "montserrat", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.4156862745) 100%, rgba(0, 0, 0, 0.298) 100%), url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2021/05/como-ajustar-poner-como-primer-dia-pc-windows-10-formatear-ni-utilizar-programas-externos-2342957.jpg");
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 800px) {
  section.formateo_1 {
    height: 400px;
  }
}
@media screen and (max-width: 500px) {
  section.formateo_1 {
    height: 300px;
  }
}
section.formateo_1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 500px;
  width: 100%;
  color: white;
  gap: 5px;
}
@media screen and (max-width: 800px) {
  section.formateo_1 div {
    height: 400px;
  }
}
@media screen and (max-width: 500px) {
  section.formateo_1 div {
    height: 300px;
  }
}
section.formateo_1 div h1 {
  padding: 3px;
  font-size: 37px;
  color: #2f8cf0;
  background-color: rgba(0, 0, 0, 0.4156862745);
  border-radius: 5px;
  max-width: 90%;
}
@media screen and (max-width: 800px) {
  section.formateo_1 div h1 {
    max-width: 80%;
  }
}
@media screen and (max-width: 500px) {
  section.formateo_1 div h1 {
    color: white;
  }
}
section.formateo_1 div h2 {
  padding: 3px;
  max-width: 80%;
  font-weight: 400;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.4156862745);
  border-radius: 5px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  section.formateo_1 div h2 {
    max-width: 90%;
  }
}
@media screen and (max-width: 500px) {
  section.formateo_1 div h2 {
    display: none;
  }
}
section.formateo_1 div p {
  padding: 3px;
  font-weight: 200;
  background-color: rgba(0, 0, 0, 0.4156862745);
  border-radius: 5px;
  max-width: 90%;
}
@media screen and (max-width: 800px) {
  section.formateo_1 div p {
    display: none;
  }
}
section.formateo_1 div a {
  background-color: #2f8cf0;
  text-decoration: none;
  color: white;
  padding: 15px;
  border-radius: 5px;
}
@media screen and (max-width: 800px) {
  section.formateo_1 div a {
    font-size: 25px;
    padding: 20px;
  }
}
@media screen and (max-width: 500px) {
  section.formateo_1 div a {
    font-size: 15px;
  }
}
section.formateo_1 div a:hover {
  color: black;
  transition: all 0.6s;
}

section.formateo_2 {
  font-family: "montserrat", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (max-width: 800px) {
  section.formateo_2 {
    height: 650px;
  }
}
@media screen and (max-width: 500px) {
  section.formateo_2 {
    height: 1050px;
  }
}
section.formateo_2 div.container {
  display: grid;
  height: 500px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto;
  border: solid 1.5px #2f8cf0;
  text-align: center;
}
@media screen and (max-width: 800px) {
  section.formateo_2 div.container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 600px;
  }
}
@media screen and (max-width: 500px) {
  section.formateo_2 div.container {
    display: flex;
    flex-direction: column;
    height: 1000px;
    justify-content: space-around;
    align-items: center;
    border: none;
  }
}
section.formateo_2 div.container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.formateo_2 div.container div h2 {
  color: #2f8cf0;
  padding-bottom: 10px;
  font-size: 30px;
}
@media screen and (max-width: 500px) {
  section.formateo_2 div.container div h2 {
    font-size: 23px;
  }
}
section.formateo_2 div.container div p {
  text-align: center;
  min-width: 90%;
  max-width: 90%;
}
@media screen and (max-width: 800px) {
  section.formateo_2 div.container div p {
    font-size: 19px;
  }
}
@media screen and (max-width: 500px) {
  section.formateo_2 div.container div p {
    font-size: 17px;
  }
}

section.formateo_3 {
  font-family: "montserrat", sans-serif;
  background-color: #2f8cf0;
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 800px) {
  section.formateo_3 {
    height: 460px;
  }
}
@media screen and (max-width: 500px) {
  section.formateo_3 {
    height: 550px;
  }
}
section.formateo_3 div {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 50%;
}
@media screen and (max-width: 1440px) {
  section.formateo_3 div {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  section.formateo_3 div {
    width: 90%;
    height: 400px;
  }
}
@media screen and (max-width: 500px) {
  section.formateo_3 div {
    background-color: #2f8cf0;
    height: 550px;
  }
}
section.formateo_3 div h1 {
  font-size: 30px;
}
@media screen and (max-width: 500px) {
  section.formateo_3 div h1 {
    font-size: 20px;
    font-weight: 600;
    color: white;
  }
}
section.formateo_3 div p {
  min-width: 85%;
  max-width: 85%;
  text-align: center;
  padding-top: 10px;
  font-weight: 500;
  font-size: 16px;
}
@media screen and (max-width: 500px) {
  section.formateo_3 div p {
    color: white;
    font-size: 15px;
    min-width: 95%;
    max-width: 95%;
  }
}

section.empresas_1 {
  font-family: "montserrat", sans-serif;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #232222;
}
@media screen and (max-width: 800px) {
  section.empresas_1 {
    background-color: #2f8cf0;
  }
}
@media screen and (max-width: 500px) {
  section.empresas_1 {
    background-color: white;
    height: 250px;
  }
}
section.empresas_1 div {
  background-color: white;
  border: solid 1px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  height: 350px;
}
@media screen and (max-width: 1440px) {
  section.empresas_1 div {
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  section.empresas_1 div {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  section.empresas_1 div {
    border: none;
    gap: 10px;
    background-color: #2f8cf0;
    width: 100%;
    height: 250px;
  }
}
section.empresas_1 div h1 {
  font-size: 30px;
  text-align: center;
  color: #2f8cf0;
  max-width: 80%;
  min-width: 80%;
}
@media screen and (max-width: 500px) {
  section.empresas_1 div h1 {
    font-size: 25px;
    color: white;
  }
}
section.empresas_1 div p {
  padding-top: 20px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  max-width: 80%;
  min-width: 80%;
  text-align: center;
}
@media screen and (max-width: 500px) {
  section.empresas_1 div p {
    display: none;
  }
}
section.empresas_1 div a {
  text-decoration: none;
  background-color: #2f8cf0;
  color: white;
  padding: 15px;
  font-weight: 500;
  border-radius: 3px;
}
@media screen and (max-width: 500px) {
  section.empresas_1 div a {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #232222;
    color: white;
  }
}
section.empresas_1 div a:hover {
  color: black;
  transition: ease 0.6s;
}

section.empresas_2 {
  font-family: "montserrat", sans-serif;
  background-image: url("https://thumbs.dreamstime.com/b/sitio-de-servidor-red-114138719.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 70px;
  width: 100%;
}
@media screen and (max-width: 800px) {
  section.empresas_2 {
    gap: 10px;
    padding-inline: 3%;
  }
}
@media screen and (max-width: 500px) {
  section.empresas_2 {
    padding-top: 5%;
    padding-bottom: 5%;
    gap: 20px;
    flex-direction: column;
  }
}
section.empresas_2 div {
  background-color: rgb(244, 241, 241);
  border: solid 2px #2f8cf0;
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 3px;
}
@media screen and (max-width: 500px) {
  section.empresas_2 div {
    width: 100%;
    border: solid 2px #232222;
  }
}
section.empresas_2 div li {
  list-style: square;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 5px;
}
section.empresas_2 div h1 {
  font-size: 27px;
}
section.empresas_2 div h1 span {
  color: #2f8cf0;
}
section.empresas_2 div h2 {
  font-size: 20px;
  font-weight: 400;
}
section.empresas_2 div h2 span {
  color: #2f8cf0;
  font-weight: 600;
}
section.empresas_2 div a {
  text-decoration: none;
  color: white;
  background: #2f8cf0;
  padding: 10px;
  border-radius: 3px;
}
section.empresas_2 div a:hover {
  color: black;
  transition: all 0.6s;
}

section.empresas_3 {
  font-family: "montserrat", sans-serif;
  padding-inline: 60px;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #2f8cf0;
}
@media screen and (max-width: 800px) {
  section.empresas_3 {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-inline: 0;
  }
}
@media screen and (max-width: 500px) {
  section.empresas_3 {
    background-color: #2f8cf0;
    width: 100%;
    padding-inline: 0;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
section.empresas_3 div.container {
  display: grid;
  height: 500px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto;
  background-color: white;
  border: solid 2px black;
}
@media screen and (max-width: 800px) {
  section.empresas_3 div.container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 650px;
  }
}
@media screen and (max-width: 500px) {
  section.empresas_3 div.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 900px;
  }
}
section.empresas_3 div.container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.empresas_3 div.container div h2 {
  text-align: center;
  color: #2f8cf0;
  padding-bottom: 10px;
  font-size: 30px;
  min-width: 95%;
  max-width: 95%;
}
section.empresas_3 div.container div p {
  text-align: center;
  font-size: 16px;
  min-width: 95%;
  max-width: 95%;
}
@media screen and (max-width: 800px) {
  section.empresas_3 div.container div p {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  section.empresas_3 div.container div p {
    font-size: 16px;
  }
}

section.empresas_4 {
  font-family: "montserrat", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
}
@media screen and (max-width: 800px) {
  section.empresas_4 {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  section.empresas_4 {
    display: none;
  }
}
section.empresas_4 div {
  width: 500px;
  height: 150px;
  border: solid 2px black;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s ease;
}
section.empresas_4 div h1 {
  text-align: center;
  font-size: 26px;
  transition: 1s ease;
  background-color: rgba(0, 0, 0, 0.665);
  color: white;
  padding: 5px;
  border-radius: 4px;
}
section.empresas_4 div a {
  font-size: 20px;
  font-weight: 500;
  background-color: #2f8cf0;
  text-decoration: none;
  color: white;
  padding: 30px;
  position: absolute;
  opacity: 0;
  text-align: center;
  border-radius: 4px;
  transition: 1s ease;
}
section.empresas_4 div a:hover {
  color: black;
  transition: ease 0.5s;
}
section.empresas_4 div.ayuda1 {
  background: linear-gradient(rgba(0, 0, 0, 0.298) 100%, rgba(0, 0, 0, 0.298) 100%), url("https://st.depositphotos.com/2234518/2766/i/950/depositphotos_27662255-stock-photo-call-center-team.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
section.empresas_4 div.ayuda1:hover {
  background: linear-gradient(rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%), url("https://st.depositphotos.com/2234518/2766/i/950/depositphotos_27662255-stock-photo-call-center-team.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: solid 2px #2f8cf0;
  background-size: 105%;
  transition: 0.6s ease;
}
section.empresas_4 div.ayuda1:hover a {
  opacity: 1;
  transition: 0.4s ease;
}
section.empresas_4 div.ayuda1:hover h1 {
  opacity: 0;
  transition: 0.4s ease;
}
section.empresas_4 div.ayuda2 {
  background: linear-gradient(rgba(0, 0, 0, 0.298) 100%, rgba(0, 0, 0, 0.298) 100%), url("https://img.freepik.com/foto-gratis/tecnico-reparacion-computadora-hardware-computadora-reparacion-actualizacion-tecnologia_1150-8854.jpg?w=2000");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
section.empresas_4 div.ayuda2:hover {
  background: linear-gradient(rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%), url("https://img.freepik.com/foto-gratis/tecnico-reparacion-computadora-hardware-computadora-reparacion-actualizacion-tecnologia_1150-8854.jpg?w=2000");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: solid 2px #2f8cf0;
  background-size: 105%;
  transition: 0.6s ease;
}
section.empresas_4 div.ayuda2:hover a {
  opacity: 1;
  transition: 0.4s ease;
}
section.empresas_4 div.ayuda2:hover h1 {
  opacity: 0;
  transition: 0.4s ease;
}

section.contacto1 {
  font-family: "montserrat", sans-serif;
  height: 700px;
  display: flex;
}
@media screen and (max-width: 800px) {
  section.contacto1 {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 1200px;
  }
}
@media screen and (max-width: 500px) {
  section.contacto1 {
    height: 1100px;
  }
}
section.contacto1 div.urge {
  background: linear-gradient(rgba(0, 0, 0, 0.465) 100%, rgba(0, 0, 0, 0.298) 100%), url("https://img.freepik.com/foto-gratis/personas-que-trabajan-centro-llamadas_23-2149288184.jpg?w=2000");
  background-position: center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  color: white;
}
@media screen and (max-width: 800px) {
  section.contacto1 div.urge {
    width: 100%;
  }
}
section.contacto1 div.urge h2 {
  background-color: rgba(0, 0, 0, 0.61);
  padding: 5px;
  border-radius: 5px;
  font-size: 17px;
}
section.contacto1 div.urge h1 {
  opacity: 1;
  transition: ease 0.3s;
}
section.contacto1 div.urge h2 {
  opacity: 1;
  transition: ease 0.3s;
}
section.contacto1 div.urge section {
  opacity: 0;
  transition: ease 0.3s;
  text-align: center;
  position: absolute;
}
section.contacto1 div.urge section h3 {
  font-size: 30px;
  padding-bottom: 10px;
}
section.contacto1 div.urge section div {
  font-size: 17px;
}
section.contacto1 div.urge:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.64) 100%, rgba(0, 0, 0, 0.298) 100%), url("https://img.freepik.com/foto-gratis/personas-que-trabajan-centro-llamadas_23-2149288184.jpg?w=2000");
  transition: ease 0.3s;
  background-position: center top;
  background-size: cover;
}
section.contacto1 div.urge:hover h1 {
  opacity: 0;
  transition: ease 0.3s;
}
section.contacto1 div.urge:hover h2 {
  opacity: 0;
  transition: ease 0.3s;
}
section.contacto1 div.urge:hover section {
  opacity: 1;
  transition: ease 0.3s;
}
section.contacto1 div.formu {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 40%;
  min-width: 30%;
}
@media screen and (max-width: 800px) {
  section.contacto1 div.formu {
    margin: 0;
    max-width: 95%;
    min-width: 95%;
    padding-top: 4%;
    padding-bottom: 4%;
  }
}
section.contacto1 div.formu input.boton {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  color: white;
  background-color: #232222;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
}
@media screen and (max-width: 800px) {
  section.contacto1 div.formu input.boton {
    width: 99%;
    padding: 15px;
    font-size: 20px;
  }
}
section.contacto1 div.formu input.boton:hover {
  color: #2f8cf0;
  background-color: rgba(0, 0, 0, 0.803);
}
section.contacto1 div.formu p {
  font-size: 17px;
}
@media screen and (max-width: 800px) {
  section.contacto1 div.formu p {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  section.contacto1 div.formu p {
    display: none;
  }
}
section.contacto1 div.formu form section.datos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
section.contacto1 div.formu form section.datos div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
section.contacto1 div.formu form section.datos div label {
  font-weight: 500;
}
@media screen and (max-width: 800px) {
  section.contacto1 div.formu form section.datos div label {
    font-size: 20px;
  }
}
section.contacto1 div.formu form section.datos div input {
  width: 90%;
  border-radius: 3px;
  border: solid 1px #2f8cf0;
}
@media screen and (max-width: 800px) {
  section.contacto1 div.formu form section.datos div input {
    width: 98%;
    font-size: 20px;
  }
}
section.contacto1 div.formu form div.problem {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
section.contacto1 div.formu form div.problem label {
  font-weight: 500;
}
@media screen and (max-width: 800px) {
  section.contacto1 div.formu form div.problem label {
    font-size: 20px;
  }
}
section.contacto1 div.formu form div.problem textarea {
  width: 95%;
  resize: none;
  border-radius: 3px;
  border: solid 1px #2f8cf0;
}
@media screen and (max-width: 800px) {
  section.contacto1 div.formu form div.problem textarea {
    font-size: 20px;
    width: 99%;
  }
}
@media screen and (max-width: 500px) {
  section.contacto1 div.formu form div.problem textarea {
    height: 300px;
  }
}

section.contacto2 {
  font-family: "montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
}
@media screen and (max-width: 800px) {
  section.contacto2 {
    height: 900px;
  }
}
@media screen and (max-width: 500px) {
  section.contacto2 {
    height: 450px;
  }
}
section.contacto2 section {
  background: linear-gradient(rgba(0, 0, 0, 0.465) 100%, rgba(0, 0, 0, 0.298) 100%), url("https://www.elcampico.org/wp-content/uploads/2019/04/TALLER-INFORMA%CC%81TICA.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 800px) {
  section.contacto2 section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
section.contacto2 section div.map {
  margin-left: 5%;
}
@media screen and (max-width: 800px) {
  section.contacto2 section div.map {
    padding-top: 15px;
    margin-left: 0;
  }
}
@media screen and (max-width: 500px) {
  section.contacto2 section div.map {
    display: none;
  }
}
section.contacto2 section div.map iframe {
  border: solid 10px black;
}
section.contacto2 section div.info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 40px;
}
@media screen and (max-width: 800px) {
  section.contacto2 section div.info {
    width: 90%;
    flex: 0;
    flex-direction: row;
    gap: 5px;
  }
}
@media screen and (max-width: 500px) {
  section.contacto2 section div.info {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}
section.contacto2 section div.info div {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: end;
  background-color: #232222;
  padding: 20px;
  margin-right: 40%;
}
@media screen and (max-width: 800px) {
  section.contacto2 section div.info div {
    width: 95%;
    margin-right: 5px;
    padding: 5px;
    text-align: center;
  }
  section.contacto2 section div.info div p {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  section.contacto2 section div.info div {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  section.contacto2 section div.info div div:hover {
    background-color: #2f8cf0;
    transition: ease 0.4s;
  }
  section.contacto2 section div.info div div:hover h2 {
    color: black;
    transition: ease 0.3s;
  }
}
@media screen and (max-width: 1440px) {
  section.contacto2 section div.info div div:hover {
    background-color: #2f8cf0;
    transition: ease 0.4s;
  }
  section.contacto2 section div.info div div:hover h2 {
    color: black;
    transition: ease 0.3s;
  }
}

section.contacto3 {
  font-family: "montserrat", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 60px;
}
section.contacto3 p.uno {
  height: 60px;
  color: white;
  background-color: #0f7cf1;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
section.contacto3 p.dos {
  height: 60px;
  color: white;
  background-color: #2176d0;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
section.contacto3 p.tres {
  color: white;
  height: 60px;
  background-color: #2464a9;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */